@tailwind base;
@tailwind components;
@tailwind utilities;

.path {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash 10s ease-in-out;
  fill: none;
  animation-fill-mode: both;
  stroke: currentColor;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: currentColor;
    stroke: none;
  }
}
::selection {
  background-color: #2b2b2b;
  color: #28d7c6;
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


.mobileLink {
  @apply px-8 py-2 mt-8  hover:bg-active hover:text-prl3 transition duration-500 ease-in-out flex items-center font-semibold   text-prl3;
}
